target
.project
dist
.springBeans
rebel.xml
.idea
*.iml
dependency-reduced-pom.xml

# files with credentials
node-ng/node-web/src/main/resources/application-dev.properties
node-ng/node-web/src/main/resources/application-docker.properties
resources/distribution-overlay-dev/ecos-generic/opennode2_home/conf/nos.properties
resources/distribution-overlay-dev/ecos-generic/opennode2_home/conf/naas.properties
resources/distribution-overlay-dev/ecos-generic/opennode2_home/conf/jdbc.properties

# folder for development configuration files
.dev-config

# private plugins
node-plugins/node-plugin-ga-gapdes-geos
node-plugins/node-plugin-gaeisdata
node-plugins/node-plugin-nysitespills
node-plugins/node-plugin-oh-icis-air
